.allClasses {
    margin: 40px 0;
}

.classImg {
    width: 100%;
    height: 300px;
}

.class-btn p {
    margin: 0;
}

.class-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.class-btn a {
    text-decoration: none;
    color: black;
}